<div class="w-screen h-[80vh] flex items-center justify-center flex-col">
  <h1 class="font-bold text-5xl md:text-6xl text-indigo-600">Angular Documentation Starter</h1>
  <p class="mt-6 text-lg md:text-xl text-gray-700 max-w-2xl mx-auto text-center">
    Create, organize, and share documentation for your Angular projects with ease. This template provides a simple,
    customizable foundation to showcase your components, modules, and best practices.
  </p>
  <div class="mt-5 flex justify-center gap-3 items-center">
    <a id="get-started" routerLink="/docs/getting-started/introduction"
       class="font-semibold px-6 py-[11px] rounded-full">
      <i class="{{ faIcon('bolt') }} text-lg mr-2"></i>
      Get Started
    </a>
    <a id="github" href="https://github.com/mofirojean/docs-template" target="_blank" rel="noopener noreferrer"
       class="flex items-center text-white px-6 py-[11px] rounded-full">
      <span class="font-bold mr-2">Drop a Star</span>
      <i class="{{ faBrandIcon('github') }} text-lg"></i>
    </a>
  </div>
</div>
