:host {
  &[data-doc-is-landing='true'] {
    --ng-doc-page-max-width: auto;
    --ng-doc-page-padding: 0;
    --ng-doc-main-padding: 0;

    ng-doc-navbar {
      transition: 300ms ease-in-out;

      &:before {
        transition: 300ms ease-in-out;
      }

      &:not(.has-shadow) {
        --ng-doc-navbar-background: transparent;
      }
    }
  }

  .doc-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--ng-doc-base-gutter) * 3);
    color: var(--ng-doc-text-muted);
    font-size: 12px;

    a.jean:hover {
      transition: all ease-in 0.2s;
      color: #4848d5;
    }
  }
}

@media screen and (max-width: 600px) {
  .doc-header-controls {
    a[ng-doc-button-icon],
    button[ng-doc-button-icon],
    ng-doc-theme-toggle {
      margin-left: var(--ng-doc-base-gutter);
    }
  }
}
